 <!-- Sidebar -->
 <nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <!-- Brand logo -->
        <a class="navbar-brand" href="@@webRoot/index.html">
            <img src="@@webRoot/assets/images/brand/logo/N-Monogm-Green.png" alt="" />
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link has-arrow @@if (context.page ===  'dashboard') { active }" href="@@webRoot/dashboard-coordinator.html">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>  Dashboard
                </a>

            </li>


       

                    <!-- Nav item -->
                    <li class="nav-item">
                        <div class="navbar-heading">Manage Coursework</div>
                    </li>


                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'borders') { active }" href="coorPrograms.html" aria-expanded="false">
                                <i data-feather="layers" class="nav-icon icon-xs me-2">
                                </i>  Programs
                            </a>
                                    </li>
                           <!-- Nav item -->
       <li class="nav-item">
        <a class="nav-link @@if (context.page === 'borders') { active }" href="coorCourses.html" aria-expanded="false">
            <i data-feather="book-open" class="nav-icon icon-xs me-2">
            </i>  Courses
        </a>
                </li>
       <!-- Nav item -->

                <li class="nav-item">
                    <a class="nav-link @@if (context.page === 'borders') { active }" href="coorTerms.html" aria-expanded="false">
                        <i data-feather="calendar" class="nav-icon icon-xs me-2">
                        </i>  Terms
                    </a>
                            </li>

                        

                            <!-- Nav item -->
                            <li class="nav-item">
                                <a class="nav-link @@if (context.page === 'borders') { active }" href="coorCarousel.html" aria-expanded="false">
                                    <i data-feather="bookmark" class="nav-icon icon-xs me-2" >
                                </i> Carousel
                                </a>
                                        </li>
                        
                                         <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Manage Student</div>
                        </li>
                      
                      
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'borders') { active }" href="coorStudent.html" aria-expanded="false">
                                <i data-feather="user" class="nav-icon icon-xs me-2" >
                            </i> Student
                            </a>
                                    </li>

                  <!-- Nav item -->
                  <li class="nav-item">
                    <div class="navbar-heading">Email Management</div>
                </li>
               
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'borders') { active }" href="coorEmail.html" aria-expanded="false">
                                <i data-feather="mail" class="nav-icon icon-xs me-2" >
                            </i> Email
                            </a>
                                    </li>
                                    
                    </ul>

                </div>
</nav>