 <!-- Sidebar -->
 <nav class="navbar-vertical navbar">
    <div class="nav-scroller">
        <!-- Brand logo -->
        <a class="navbar-brand" href="@@webRoot/index.html">
            <img src="@@webRoot/assets/images/brand/logo/N-Monogm-Green.png" alt="" />
        </a>
        <!-- Navbar nav -->
        <ul class="navbar-nav flex-column" id="sideNavbar">
            <li class="nav-item">
                <a class="nav-link has-arrow @@if (context.page ===  'dashboard') { active }" href="@@webRoot/index.html">
                    <i data-feather="home" class="nav-icon icon-xs me-2"></i>  Dashboard
                </a>

            </li>


         <!-- Nav item -->
         <li class="nav-item">
            <div class="navbar-heading">User Management</div>
        </li>


             <!-- Nav item -->
             <li class="nav-item">
                <a class="nav-link has-arrow @@if (context.page_group !== 'pages') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navPages" aria-expanded="false" aria-controls="navPages">
                    <i data-feather="users"
                    class="nav-icon icon-xs me-2">
                </i>    Users
                </a>

                <div id="navPages" class="collapse @@if (context.page_group === 'pages') { show }" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'profile') { active }" href="manageAdmin.html">
                                Manage Admin
                </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link has-arrow  @@if (context.page === 'settings') { active } "  href="managecoordinator.html" >
                                Manage Coordinator
                                </a>
                        </li>

                    </ul>
                </div>

                </li>


                    <!-- Nav item -->
                    <li class="nav-item">
                        <div class="navbar-heading">Manage Coursework</div>
                    </li>


                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page_group !== 'authentication') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navAuthentication" aria-expanded="false" aria-controls="navAuthentication">
                                <i data-feather="layers" class="nav-icon icon-xs me-2">
                                </i> Programs
                            </a>
                            <div id="navAuthentication" class="collapse @@if (context.page_group === 'authentication') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signin') { active }" href="adminPrograms.html"> Manage Program</a>
                                    </li>


                                </ul>
                            </div>
                        </li>
                           <!-- Nav item -->
                           <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page_group !== 'courses') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navCourses" aria-expanded="false" aria-controls="navCourses">
                                <i data-feather="book-open" class="nav-icon icon-xs me-2">
                                </i> Courses
                            </a>
                            <div id="navCourses" class="collapse @@if (context.page_group === 'courses') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signin') { active }" href="#"> Add Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'signup') { active } " href="#"> Update Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'forgetpassword') { active }" href="#">
                                            View Course
                                </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        

                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page_group !== 'components') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navComponents" aria-expanded="false" aria-controls="navComponents">
                                <i data-feather="calendar" class="nav-icon icon-xs me-2" >
                            </i> Terms
                            </a>
                            <div id="navComponents" class="collapse @@if (context.page_group === 'components') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'accordions') { active }" href="#" aria-expanded="false">
                                              Add Terms
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'alerts') { active }" href="#" aria-expanded="false">
                                            Update Terms
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'badge') { active }" href="#" aria-expanded="false">
                                            View Terms
                                        </a>
                                    </li>
                                
                                </ul>
                            </div>
                        </li>
                       

                            <!-- Nav item -->
                            <li class="nav-item">
                                <a class="nav-link has-arrow @@if (context.page_group !== 'utilities') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navUtilities" aria-expanded="false" aria-controls="navUtilities">
                                    <i data-feather="bookmark" class="nav-icon icon-xs me-2" >
                                </i> Carousel
                                </a>
                                <div id="navUtilities" class="collapse @@if (context.page_group === 'utilities') { show }" data-bs-parent="#sideNavbar">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link @@if (context.page === 'typography') { active }" href="#" aria-expanded="false">
                                                  Add Carousel
                                            </a>
                                        </li>
                                            <li class="nav-item">
                                                <a class="nav-link @@if (context.page === 'borders') { active }" href="#" aria-expanded="false">
                                                     Update Carousel
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link @@if (context.page === 'colors') { active }" href="#" aria-expanded="false">
                                                 View Carousel
                                              </a>
                                          </li>
                                        </ul>
                                        </div>
                                        </li>
                        
                                         <!-- Nav item -->
                        <li class="nav-item">
                            <div class="navbar-heading">Manage Student</div>
                        </li>
                      
                      
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link has-arrow @@if (context.page_group !== 'Student') { collapsed }" href="#!" data-bs-toggle="collapse" data-bs-target="#navStudent" aria-expanded="false" aria-controls="navStudent">
                                <i data-feather="user" class="nav-icon icon-xs me-2" >
                            </i> Student
                            </a>
                            <div id="navStudent" class="collapse @@if (context.page_group === 'Student') { show }" data-bs-parent="#sideNavbar">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'typography') { active }" href="#" aria-expanded="false">
                                            Add Students
                                        </a>
                                    </li>
                                        <li class="nav-item">
                                            <a class="nav-link @@if (context.page === 'borders') { active }" href="#" aria-expanded="false">
                                                Update Student
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link @@if (context.page === 'colors') { active }" href="#" aria-expanded="false">
                                            View Students
                                        </a>
                                    </li>
                                    </ul>
                                    </div>
                                    </li>

                  <!-- Nav item -->
                  <li class="nav-item">
                    <div class="navbar-heading">Email Management</div>
                </li>
               
                        <!-- Nav item -->
                        <li class="nav-item">
                            <a class="nav-link @@if (context.page === 'borders') { active }" href="adminEmail.html" aria-expanded="false">
                                <i data-feather="mail" class="nav-icon icon-xs me-2" >
                            </i> Email
                            </a>
                                    </li>
                                    
                    </ul>

                </div>
</nav>